<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title>Sanciones</title>

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<body class="bg-warning">

	<div class="container-fluid" layout:fragment="page-content">

		<div class="bg-dark p-3 mt-2 rounded-3">
			<h2 class="text-center text-light">LISTADO DE SANCIONES</h2>
			<a th:href="@{/}" class="btn btn-primary m-2">Atras</a> <a
				th:href="@{/nuevaSancion}" class="btn btn-success text-light ml-5">Nuevo</a>
		</div>

		<table class="table table-dark table-striped mt-2">
			<thead>
				<tr>
					<th>ID</th>
					<th>Fecha Inicial</th>
					<th>Fecha Final</th>
					<th>Alumno</th>
					<th>Estado</th>
					<th>Encargado</th>
					<th>Tipo de Sancion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="san:${listaSanciones}">
					<td th:text="${san.id_sancion}"></td>
					<td th:text="${san.fecha_inicio}"></td>
					<td th:text="${san.fecha_fin}"></td>
					<td th:text="${san.Alumno.nombres}+' '+${san.Alumno.apellidos}"></td>
					<td th:text="${san.estadoSancion.estado}"></td>
					<td th:text="${san.Encargado.nombres}+' '+${san.Encargado.apellidos}"></td>
					<td
						th:text="${san.tipoSancion.descripcion}"></td>
					<td><a class="btn btn-warning"
						th:href="@{/editarSancion/{id} (id=${san.id_sancion})}">Editar</a>
						<a class="btn btn-danger"
						th:href="@{/borrarSancion/{id} (id=${san.id_sancion})}">Borrar
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!--OTRO SCRIPTS PARA PAGINAS-->
	<th:block layout:fragment="page-scripts">

	</th:block>

</body>
</html>
