<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title></title>
</head>
<body class="bg-warning">

	<div class="container-fluid" layout:fragment="page-content">

		<br>
		<div class="offset-md-3">
			<a class="btn btn-primary mb-3" th:href="@{/autores}">Atrás</a>
		</div>
		
		<br>
		<h2 class="text-center" >Nuevo Autor</h2>
		<br>

		<form th:action="@{/guardarAutor}" th:object="${autor}" method="post" autocomplete="off" >
			
			<div class="mb-3 col-md-6 offset-md-3">
					<label class="form-label">ID:</label>
					<input type="number" maxlength="11" class="form-control" th:field="*{id_autor}" readonly="readonly">
			</div>
			
			<div class="mb-3 col-md-6 offset-md-3">
					<label class="form-label">Nombres:</label>
					<input type="text" maxlength="50" class="form-control" th:field="*{nombres}"  placeholder="Ingrese nombres" required="required">
			</div>
			
			<div class="mb-3 col-md-6 offset-md-3">
					<label class="form-label">Apellidos:</label>
					<input type="text" maxlength="50" class="form-control" th:field="*{apellidos}"  placeholder="Ingrese apellidos" required="required">
			</div>
			
			<div class="mb-3 col-md-6 offset-md-3">
					<label class="form-label">Nacionalidad:</label>
					<input type="text" maxlength="50" class="form-control" th:field="*{nacionalidad}"  placeholder="Ingrese nacionalidad" >
			</div>
			
			<div class="d-flex justify-content-center">
				<input type="submit" value="Guardar" class="btn btn-success mb-3">
			</div>
			
		</form>
	</div>

	<!--OTRO SCRIPTS PARA PAGINAS-->
	<th:block layout:fragment="page-scripts">

	</th:block>

</body>
</html>